<!DOCTYPE html>
<html>

<head>
    <title>Tides</title>

    <link rel="stylesheet" type="text/css" href="../libs/bootstrap.css">
    <link href="../libs/dataTables.bootstrap4.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../stylesheets/design.css">

    <script src="../libs/jquery.min.js"></script>
    <script src="../libs/jquery.dataTables.min.js"></script>
    <script src="../libs/dataTables.bootstrap4.min.js"></script>

</head>

<body>
    <nav class="py-1 navbar  navbar-light bg-danger"> 
        <!-- navbar-expand-lg -->
        <a class="navbar-brand text-white ml-4" href="/"><b>Tides</b></a>
        <!-- <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button> -->

        <!-- <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent"> -->

            <div class="mr-5 justify-content-end">
                <!-- <ul class="navbar-nav mr-auto mr-0"> -->
                    <label class=" text-white" for="table-select"></label>
                    <select id="table-select" onchange = "location = this.value;">
                        <option  value="">choose a table</option>
                        <option  value="/tide1">Anch Sail >40' &or >800' LOA </option>
                        <option  value="/tide2">ARRIVAL anch >40' &or >800' LOA</option>
                        <option  value="/hkkv">HKK</option>
                        <option   value="/B-96&98v">Berts -96 & 98</option>
                        <option value="/slackv">Slack</option>
                        <option  value="/sulcv_nwk&elzv">SULCV Newark & Elizabeth</option>
                        <option value="/cgt_bayonnev">CGT_Bayonne</option>
                        <option value="/sw_sailv">S/W sailing</option>
                        <option value="/shcstv">Sandy Hook Channel start S/W (up to 29' anytime)</option>
                        <option value="/tidev">TIDE</option>
                        <option value="/data">DATA Battery H and L and Sandy hook H</option>
                        <option value="/data1">DATA Battery 2023 SH 2023</option>
                    </select>

                    <!-- <li class="nav-item">
                        <a class="nav-link text-white" href="/tide1">Anch Sail >40' &or >800' LOA </b></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" href="/tide2" >ARRIVAL anch >40' &or >800' LOA</b></a>
                    </li> -->
                    <!-- <li class="nav-item">
                        <a class="nav-link text-white" href="/hkkv">HKK</b></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" href="/B-96&98v">Berts -96 & 98 </b></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" href="/slackv">Slack </b></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" href="/sulcv_nwk&elzv">SULCV Newark & Elizabeth</b></a>
                    </li>
                                      <li class="nav-item">
                        <a class="nav-link text-white" href="/cgt_bayonnev">CGT_Bayonne</a>
                    </li> -->

                    <!-- <li class="nav-item">
                        <a class="nav-link text-white" href="/sw_sailv">S/W sailing</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link text-white" href="/shcstv">Sandy Hook Channel start S/W (up to 29' anytime)</a>
                    </li> -->

                    <!-- <li class="nav-item">
                        <a class="nav-link text-white" href="/tidev">TIDE</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link text-white" href="/data">DATA Battery H and L and Sandy hook H</a>
                    </li>
                </ul> -->
            </div>

        <!-- </div> -->
    </nav>