<%- include('partials/header') -%>

<div class="container mt-5">
    <%- include('partials/messages') -%>
    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
        <thead>
            <tr>
                <th>Date</th>
                <th>Day</th>
                <th>Battery</th>
                <th>pre_ft</th>
                <th>H/L</th>
                <th>Open</th>
                <th>Close</th>
                <th>Open</th>
                <th>Close</th>
            </tr>
        </thead>
        <tfoot>
            <tr>
                <th>Date</th>
                <th>Day</th>
                <th>Battery</th>
                <th>pre_ft</th>
                <th>H/L</th>
                <th>Open</th>
                <th>Close</th>
                <th>Open</th>
                <th>Close</th>
            </tr>
        </tfoot>
        <tbody>
            
                

            </tbody>
        </table>
    </div>
<%- include('partials/footer') -%>